* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
  text-transform: capitalize;
}img{
  max-width: 100%;
}
ul{
  list-style: none;
}
header {
  background-color: rgb(194, 40, 194);
  position: fixed;
  width: 100%;
  z-index: 5;
  padding: 10px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav {
  position: relative;
}
header .container nav img {
  cursor: pointer;
}
header .container input {
  appearance: none;
}
@media (max-width: 991px) {
  header .container nav ul {
    display: none;
    background-color: white;
    border-radius: 8px;
    min-width: 200px;
  }
  header .container nav ul li:not(:last-child) {
    border-bottom: 1px solid;
  }
  header .container nav ul li {
    padding: 10px;
  }
  header .container nav ul li a {
    color: black;
    padding: 10px;
  }
  header .container input:checked + ul {
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
  }
}
@media (min-width: 992px) {
  header .container nav label,
  header .container nav input {
    display: none;
  }
  header .container nav ul {
    display: flex;
    gap: 50px;
  }
  header .container nav ul li a {
    font-size: 20px;
    color: white;
  }
}
.hero {
  background-image: url(../images/logos/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.hero::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(128, 0, 128, 0.563);
}
.hero .container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.hero .container h1 {
  font-size: 90px;
  color: antiquewhite;
}
.hero .container p {
  font-size: 5cap;
  color: antiquewhite;
}
.hero .container .search {
  padding-top: 20px;
}
.hero .container .search input {
  font-size: 15px;
  border: 1px solid palevioletred;
  border-radius: 50px;
  padding: 10px;
}
.who_are_we {
  background-color: blanchedalmond;
  padding: 60px 0 30px 0;
}
.who_are_we h2 {
  font-size: 35px;
  text-align: center;
  padding-bottom: 40px;
}
.who_are_we .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
}
.who_are_we .container img {
  border-radius: 30px;
}
.who_are_we .container .list_over_view h3 {
  font-size: 19px;
  padding: 20px 0;
}
.who_are_we .container .list_over_view ol {
  padding: 20px 0 0 25px;
}
.who_are_we .container .list_over_view ol li {
  font-size: 20px;
  font-weight: bold;
}
  .credits .container {
    display: flex;
    justify-content: center;
    padding: 70px 0;
  }
  .credits .container table tr td img {
  width: 200px;
}
.container table td {
  display: flex;
  border: 1px solid;
}
  .credits .container h3 {
  font-size: 30px;
  text-transform: capitalize;
}
.competitions{
  background-image: linear-gradient(rgb(233, 255, 252), rgb(237, 237, 238), rgb(160, 133, 242), rgb(123, 40, 240));
}
.competitions .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
}
.competitions h2 {
  text-align: center;
  font-size: xx-large;
  text-transform: capitalize;
  padding: 30px;
}
.competitions .container .fll h3,
.math h3,
.robotics h3 {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  padding: 15px;
}
.competitions .container .fll_competition,
.robotex_competition {
  display: flex;
  width: 400px;
  overflow-x: auto;
}
.math .math_competition {
  display: flex;
  width: 300px;
  height: 315px;
  overflow-x: auto;
}
.math_competition img {
  width: 405px;
  border-radius: 20px;
}
.competitions .container .fll img,
.competitions .robotics img {
  width: 400px;
  border-radius: 20px;
}
footer {
  background-color: rgb(31, 28, 28);
  padding: 50px 0;
}
  footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
footer .container .info a{
  display: block;
  padding: 20px;
}
footer .container .info img {
  padding: 0 15px 0 0;
}
footer .container .info a {
  color: #ffffff;
  font-size: 20px;
}
footer .social {
  padding: 30px;
  display: flex;
  align-items: center;
}
  footer .social a {
  padding: 30px;
}
  footer hr{
  rotate: -90deg;
  width: 19%;
}