* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 0, 128, 0.786);
  position: absolute;
  position: fixed;
  top: 5px;
  z-index: 5;
  border-radius: 90px;
}
header a img {
  width: 100px;
  align-items: center;
}
header ul {
  display: flex;
}
header ul li {
  list-style: none;
  padding: 30px;
}
header ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.hero {
  background-image: url(../images/logos/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
}
.hero::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(128, 0, 128, 0.563);
}
.container_hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.container_hero h1 {
  font-size: 90px;
  color: antiquewhite;
}
.container_hero p {
  font-size: 5cap;
  color: antiquewhite;
}
.container_hero .search {
  padding-top: 20px;
}
.container_hero .search input {
  padding: 10px;
  width: 300px;
  font-size: 15px;
  border: 2px solid greenyellow;
  border-radius: 50px;
}
.container_hero .search input:hover {
  border: 3px solid purple;
}
.container_hero .search a i {
  color: purple;
  position: relative;
  top: 2px;
  right: 40px;
}
.who_are_we {
  padding: 60px 0 30px 0;
  background-color: blanchedalmond;
}
.who_are_we .container_who_are_we h2 {
  color: #000;
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.who_are_we .container_who_are_we img {
  width: 700px;
  border-radius: 30px;
  margin-left: 20px;
}
.overview {
  display: flex;
}
.list_over_view {
  margin: auto;
}
.who_are_we .container_who_are_we .overview .list_over_view h3 {
  font-size: 19px;
}
.who_are_we .container_who_are_we .overview .list_over_view ol {
  padding: 20px 0 0 25px;
}
.who_are_we .container_who_are_we .overview .list_over_view ol li {
  font-size: 20px;
  font-weight: bold;
}
.credits {
  display: flex;
  padding-top: 100px;
}
.container_credits {
  margin: auto;
}
.container_credits table tr td img {
  width: 200px;
}
.container_credits table td {
  display: flex;
  border: 1px solid;
}
.container_credits h3 {
  font-size: 30px;
  text-transform: capitalize;
}
.competitions .container_competitions {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(rgb(233, 255, 252), rgb(237, 237, 238), rgb(160, 133, 242), rgb(123, 40, 240));
}
.competitions h2 {
  text-align: center;
  font-size: xx-large;
  text-transform: capitalize;
  padding: 30px;
}
.competitions .container_competitions .fll h3,
.math h3,
.robotics h3 {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  padding: 15px;
}
.competitions .container_competitions .fll_competition,
.robotex_competition {
  display: flex;
  width: 400px;
  overflow-x: auto;
}
.math .math_competition {
  display: flex;
  width: 300px;
  height: 315px;
  overflow-x: auto;
}
.math_competition img {
  width: 405px;
  border-radius: 20px;
}
.competitions .container_competitions .fll img,
.competitions .robotics img {
  width: 400px;
  border-radius: 20px;
}