* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 0, 128, 0.786);
  position: absolute;
  position: fixed;
  top: 5px;
  z-index: 5;
  border-radius: 90px;
}
header a img {
  width: 100px;
  align-items: center;
}
header ul {
  display: flex;
}
header ul li {
  list-style: none;
  padding: 30px;
}
header ul li a {
  text-decoration: none;
  color: #ffffff;
}
.hero {
  background-image: url(../images/logos/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
}
.hero::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(128, 0, 128, 0.563);
}
.container_hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.container_hero h1 {
  font-size: 90px;
  color: antiquewhite;
}
.container_hero p {
  font-size: 5cap;
  color: antiquewhite;
}
.container_hero .search {
  padding-top: 20px;
}
.container_hero .search input {
  padding: 10px;
  width: 300px;
  font-size: 15px;
  border: 2px solid greenyellow;
  border-radius: 50px;
}
.container_hero .search input:hover {
  border: 3px solid purple;
}
.container_hero .search a i {
  color: purple;
  position: relative;
  top: 2px;
  right: 40px;
}
.who_are_we  {
  padding: 60px 0 30px 0;
  background-color: blanchedalmond;
}
.who_are_we .container_who_are_we h2 {
  color: #000;
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.who_are_we .container_who_are_we img {
  width: 700px;
  border-radius: 30px;
  margin-left: 20px;
}
.overview {
  display: flex;
}
.list_over_view {
  margin: auto;
}
.who_are_we .container_who_are_we .overview .list_over_view h3 {
  font-size: 19px;
}
.who_are_we .container_who_are_we .overview .list_over_view ol {
  padding: 20px 0 0 25px;
}
.who_are_we .container_who_are_we .overview .list_over_view ol li {
  font-size: 20px;
  font-weight: bold;
}
.credits {
  display: flex;
  padding-top: 100px;
}
.container_credits {
  margin: auto;
}
.container_credits table tr td img {
  width: 200px;
}
.container_credits table td {
  display: flex;
  border: 1px solid;
}

.container_credits h3 {
  font-size: 30px;
  text-transform: capitalize;
}
.competitions {
  display: flex;
  background-image: linear-gradient(rgb(233, 255, 252), rgb(237, 237, 238), rgb(160, 133, 242), rgb(123, 40, 240));
}
.competitions .fll {
  display: flex;
  width: 263px;
  height: 200px;

  overflow-x: auto;
  margin: 10px;
}
.competitions .fll img {
  width: 300px;
  border-radius: 20px;
}
.competitions .robotics {
  width: 263px;
  height: 200px;
  /* background-color: black; */
  display: flex;
  overflow-x: scroll;
  margin: 10px;
}
.competitions .robotics img {
  width: 250px;
  border-radius: 20px;
}
.competitions .mathcomptation {
  width: 263px;
  height: 200px;
  /* background-color: black; */
  display: flex;
  overflow-x: scroll;
  margin: 10px;
}
.competitions .mathcomptation img {
  width: 200px;
  border-radius: 20px;

  left: 25px;
}
.competitions .son {
  display: flex;
  justify-content: space-around;
  /* background-color: blue; */
  width: 90%;
  left: 45px;
  top: 10px;
}
.ff {
  background: linear-gradient(to top left, rgb(252, 8, 207), rgba(38, 255, 0, 0.532));
}
.ff h2 {
  color: rgb(0, 0, 0);
  text-transform: capitalize;

  bottom: 4px;
}
.competitions .titel {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20px;
  justify-content: space-around;
}
.competitions .titel h4 {
  text-transform: capitalize;
  font-size: 17px;
}

.span {
  width: 25%;
  display: flex;
  justify-content: center;

  text-transform: capitalize;
  left: 5.5%;
}
.competitions .titel .span span {
  font-family: monospace;
  font-size: larger;
  font-weight: bold;
}
.h3 {
  width: 13.5%;
  font-family: monospace;
  font-size: 15px;
  text-transform: capitalize;
}
footer {
  width: 100%;
  height: 250px;
  background-color: rgb(38, 38, 38);
}
.footer {
  /* background: #fff; */
  display: flex;
  align-items: center;

  top: 28px;
}
.footer .contact {
  /* background-color: aqua; */
  width: 350px;
  height: 190px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.footer .contact i {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.335);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  left: 90px;
}

.footer .contact .info {
  /* background-color: rgb(193, 177, 177); */

  left: 100px;
  width: 280px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .contact .info a {
  margin: 23px;

  left: 0;
  color: #fff;
  border: none;
}
.border {
  background-color: black;
  height: 200px;
  width: 1px;

  left: 160px;
  bottom: 20px;
}
.icons {
  /* background-color: aliceblue; */
  width: 70%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.icons a {
  margin-left: 30px;
  color: #fff;
  border: none;

  left: 70px;
  top: 50%;
}
.icons h6 {
  top: 50px;
  left: auto;
  left: 70.5%;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 20px;
  color: #fff;
}
